.chats-body {
  padding: 10px 0px;
}

.chats-body .header,
.chats-body .status-bar {
  padding: 0px 20px;
}

.chat {
  background-image: url("../images/chatBg.png");
  min-height: 100vh;
  /* chat class가 적용된 곳에
  viewport의 100% 높이를 줌 */
}

.chat__write {
  bottom: 50px;
  width: 80%;
  /* 여기서부터 저 밑 까지 */
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  /* fixed가 적용된 컨테이너를 가운데로 적용하는 방법 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7;
  padding: 0px 20px;
  border-radius: 40px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
    0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  /* (box-shadow: 수평, 수직, blur rgba(0,0,0,opactiy;) */
}

.chat__write i {
  font-size: 22px;
}

.chat__write-column:nth-child(2) {
  width: 80%;
}

.chat__write-column input {
  padding: 20px 10px;
  width: 100%;
  border: none;
  font-size: 14px;
}

.chat__write-column input:focus {
  outline: none;
}
